ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: right;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;

}

li a:hover {
    background-color: #E3EAF0;
    color: #666;
    text-decoration: none;
}

li.odjava {
    float: left;
}

a.aodjava{
    color: white;
    border: #8090A7;
    background-color: #8090A7;
    border-radius: 5px;
    text-align: center;
    padding: 14px 16px;

}

